<div class="container mt-5" *ngIf="dataLoaded">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">User Profile</h2>
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name:</label>
        <input type="text" id="firstName" class="form-control" [value]="userProfile.firstName" disabled>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name:</label>
        <input type="text" id="lastName" class="form-control" [value]="userProfile.lastName" disabled>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" id="username" class="form-control" [value]="userProfile.username" disabled>
      </div>
      <div class="mb-3">
        <label for="role" class="form-label">Role:</label>
        <input type="text" id="role" class="form-control" [value]="userProfile.role" disabled>
      </div>
    </div>
  </div>
</div>
